.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.Menu{
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: #0392b2fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 20px;

}
.Menu button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  /* color: white; */


}
.EndScreen button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  /* color: white; */


}
.Quiz button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;


}
.Quiz{
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: #0392b2fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: white;
  
} 
.EndScreen{
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: #0392b2fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

}
.Quiz button:hover {
  border:double ;
}